<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--110.35.82.86-->
    <add key="MqttHost" value="23.98.70.88"></add>
    <add key="MqttUser" value="loradev_mqtt"/>
    <add key="MqttPass" value="test123"/>
  </appSettings>
</configuration>